@charset "utf8";

.fundofixo{
    background: url(../images/bg-fogo.jpg) no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover; 
}

.center{
    text-align: center;
}

.emp{
    display: flex;
    justify-content: space-around;
}