/* definindo nosso estilo... */ 

@charset "utf8";

.fundofixo{
    background: url(../images/churrascaria.jpg) no-repeat top fixed;
    -webkit-background-size:cover;
    background-size: cover;
    
}