/* definindo nosso estilo... */ 

@charset "utf8";

.fundofixo{
    background: url(../images/bg-fogo.jpg) no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover; 
}

body{
    margin-top: 40px;
    padding: 40px;
}

.center{
    text-align: center;
}

